.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }


.body{
    margin: 0px;
    padding: 0px;
}

.marksheet{
    border: 2px solid #A0522D;
    padding: 8px;
    width: 1100px;
    margin-left: 22%;
    background-color: #fbe9d0;
    color: #874f41;
    font-family: "Cardo", serif;
}

.header{
    margin-top: 8px;
    display: flex;

}

.sno{
    margin-left: 8px;
    font-size: larger;
    color: black;
    background-color: white;
    height: 25px;
}

.logo{
    width: 130px;
    height: 160px;
    margin-left: 350px;
    border: 1px transparent;
    border-radius: 10px;
}

.code{
    width: 100px;
    height: 100px;
    margin-left: 370px;
}

.heading1{
    text-align: center;

}

.heading1 p {
    margin: 20px 0;
}


.hone{
    font-size: 45px;
    font-family: "DM Serif Display", serif;
}

.htwo{
    font-size: 20px;
}

.hthree{
    font-size: 50px;
}

.table1{
    margin-left: 6%;
}

.table1 table{
    border: 2px solid #ac8968;
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 965px;
}

.table1 td{
    border: 2px solid #ac8968;
    padding: 20px;
    text-align: center;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin-left: 6%;
}


.table-container table {
    width: 88%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}


.table-container th {
    border: 1px solid #ac8968;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: #ebe9e1;
}


.table-container td {
    text-align: left;
    border: 1px solid #ac8968;
    padding: 20px;
    text-align: center;
}


.table-container td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: center;
}

tbody input{
    width: 50px;
    border: none;
}

.footer{
    display: flex;
}

.date{
    margin-left: 20px;
}

.para{
    margin-left: 420px;
}

.sn{
    margin-left: 700px;
}

.sn h3{
    text-align: center;
    color: navy;
    font-family: "Cedarville Cursive", cursive;
}